* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    user-select: none;
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    cursor: url('crosshair.png') 16 16, auto;
    background-image: url("space-background.jpeg");
    position: relative;
    top: 0;
    left: 0;
    transition-property: border;
    transition-duration: 100ms;
}

header {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  font-family: 'Libre Baskerville', sans-serif, arial;
}

h1, section {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

h2 {
  font-size: 30px;
  padding-bottom: 20px;
}

section:first-of-type {
  width: 550px;
  height: 300px;
  border: 2px solid white;
  padding: 20px 15px 0 15px;
}

section p {
  font-size: 20px;
  line-height: 1.5;
  white-space: pre-wrap;
}

.buttons {
  display: flex;
  width: 500px;
  height: 40px;
  align-items: center;
  justify-content: space-around;
  padding-top: 50px;
}

button {
  border: 2px solid white;
  background-color: #00000000;
  width: 120px;
  height: 55px;
  color: white;
  font-size: 20px;
}

button:hover {
  cursor: url('crosshair.png') 16 16, auto;
}
button:focus {
  outline: none;

}

h1 {
  letter-spacing: 1.5px;
  text-transform: uppercase;
  width: 700px;
  font-size: 60px;
  font-family: 'Monoton', sans-serif, arial;
  font-weight: 100;
}

.asteroid-spawn {
    height: 400px;
    position: relative;
    width: 700px;
}

.stats {
    font-size: 2em;
    left: 2vw;
    position: fixed;
    top: 2vw;
    color: #00000000;
}

.health,
.current-score {
    margin-top: 1vw;
    text-transform: uppercase;
}
