* {
    box-sizing: border-box;
    margin: none;
}

body {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    cursor: url('crosshair.png') 16 16, auto;
}

.asteroid-spawn {
    background-color: blue;
    height: 50vh;
    position: relative;
    width: 50vw;
}

.health {
    font-size: 2em;
    left: 1vw;
    position: fixed;
    top: 1vw;
}
